src/*.exe
src/raiucoin
src/raiucoind
src/test_raiucoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.raiucoin

# Compilation and Qt preprocessor part
*.qm
Makefile
raiucoin-qt
Raiucoin-Qt.app

# Unit-tests
Makefile.test
raiucoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
